In [ ]:
universal extension for python file is .py

jupyter notebook -- ipynb - interactive python noteook

# Print statment
## print
### print
#### print
##### print

print statements are used to print the output on the screen

1. point 1
2. point 2
3. point 3

* point 1
* point 2

In [1]:
print('afsan khan')

afsan khan

print('hello world')

In [ ]:
# Different ways to excecute the python file

1. jupyter notebook
2. python interpreter
3. python file and run through annaconda prompt

In [ ]:
Python Programming Componenets

- literals
- Constants
- Varibale
- Indentifiers
- Reserevd words
- Statment and Expressions
- block and indentation
- Comments

In [ ]:
# literals

- any value that you see in programming language is called literals

- python have different types of literals

1 - int - any value without a decimal point ex -99 , -9999 , 100, 200 , 3
2 - float - any value with a decimal point  ex 100.2 , 100.0 , 100.9999
3 - complex - anything that can be written in the form of a+bj where a is real and b is the imaginary ex 10+20j , 400+6j
4 - Boolean - True / False
5 - String - anyhting inside a '...' , "....." , """....""" , '''....'''
6 - None

In [ ]:
10 - int
True - bool
6+7 - int
'afsan khan' - str
None - none
"""afsaan khan"""

In [6]:
a = 10
print(a)
# a - varibale

# = - assignment op

# 10 - int literal

10

In [9]:
print("""b""")

b

In [ ]:
# Constant, varibales , Identifiers

Constant and Varibales are the subset of identifers


Indentifer - any name give to varibale , constant , function , class

Rules - 

1. allowd characters are  A-Z , a-z , 0-9 , _
2. not alloed  - specail characters
3. cannot start with a number
4. identifier are case sensitive
5. Reserved(keyword) words are not allowed

# 1. allowd characters are  A-Z , a-z , 0-9 , _

abc - valid
_abc - valid
a123bc - valid
abc- - invalid
c123a#c - invalid
abc45kcv - valid

# 3. cannot start with a number


abc123 - valid
123abc - invalid

# 4. identifier are case sensitive


a = 100
A = 10

print(A)

In [16]:
# 5. Reserved(keyword) words are not allowed

import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

abc - valid
1abc - invalid
abc1 - valid
abc#123 - invalid
abc_12____ - valid
1_abc - invalid
True - invalid
Yield - valid
Or - valid
assert - invalid
_if - valid
_else - valid
while - invalid
whilE - valid
Is - valid

In [ ]:
# Statment and Expressions

expression - combination of varibales and literals to give some value , so expessionn always return the result
statment - does not return any results

In [ ]:
# Expression

10+20

10 , 20 literails + operators

In [17]:
'afsaam'+'khan'

'afsaamkhan'

In [18]:
# statmemt

a = 10

In [19]:
for i in range(5):
    pass

In [23]:
def f1():
    return 'abc'

In [27]:
print(f1())

abc

In [26]:
a = 'bhargav'
a

'bhargav'

In [28]:
a = 'afsan'
a

'afsan'

In [ ]:
# Blocks and indentation

if
{
 # code
}

# stat1
# stat2
# stat3
# stat4
# stat5
# stat6
# stat7

1 - 7 

# stat1
# stat2
# if condition
    # stat3
    # stat4
# stat5
# stat6
# stat7

In [29]:
print('afsaam')
print('khan')
print('messi')

afsaam
khan
messi

# Comments in python

1. comments can be ised to explain the python code
2. comments can be used to mke the code more readable
3. Comments can be used to prevent execution when testing the code

In [ ]:
pi = 3.14
r = 4
a = r*r
print(a)

In [30]:
# area of sqaure

pi = 3.14  # value of pi
r = 4      # side of sqaure
a = r*r    # area of sqaure
print(a)

16

In [35]:
a = 10
b = 20
c = 30

# print(a)
print(b)
print(c)

20
30

In [ ]:
# Datatypes in python

1. Fundamental data types - it is called as the basic data types

- int
- float
- Complex
- String
- None
- Boolean

2. Derived data types - datatypes composed/ derived from fundamental data types
- list
- tuple
- set
- dic
- range

In [ ]:
# Integer data type

any value without a decimal point -1 , 100, 200 etc

In [37]:
a = 10
print(a)

# type - tells us the datatype of a varibale / lietrals
print(type(a))

10
<class 'int'>

# types of op we can perform on integer

1. Arithmatic op - + , - , * , /(float division) , //(floor division) , %(modulo) , **(exponent)

In [38]:
print(10+20)

30

In [39]:
print(10-20)

-10

In [40]:
print(10*20)

200

In [45]:
print(11/5) # float division

2.2

In [46]:
print(11//5.0) # floor division

2.0

In [ ]:
(floor)4 left 4.6 right 5(ceil)

3    3.9999   4

2.0   2.2   3.0

In [47]:
print(10%2) # reminder

0

In [48]:
print(3%2)

1

In [49]:
print(2**3) # exponent

8

In [ ]:
2 . Comparison operator - > , < , >= , <= 

-always return the output as True or False

valid

int vs intt
int vs float
float vs float
str vs str

no valid

Complex
None

In [50]:
a = 10
b = 20

print(a<b)

True

In [51]:
a = 10
b = 10

print(a<=b)

True

In [52]:
# int vs float

a = 10
b = 10.1

print(a>b)

False

In [53]:
# float vs float

a = 10.01
b = 10.1

print(a>b)

False

In [56]:
a = 'afsaan'
b = 'k'

print(a<b)

True

In [57]:
a = 'afsaan'
b = 'afsaar'

print(a<b)

True

In [58]:
# Equality op  == , !=

# - return the bool

In [59]:
1 == 6

False

In [60]:
6+7j == 4

False

In [61]:
6+4j == 6+4j

True

In [62]:
6+4j != 6+4j

False