In [5]:
#4 ASCII


# convert the char into the ascii value
ord('A')

65

In [8]:
# chr() -- cobverts the ascii value to char

chr(97)

'a'

In [9]:
print('A' <= chr(65))

True

# 5 logical operator - and , or , not

In [ ]:
# and Truth table

True and True = True
True and False = False
False and True = False
False and False = False


# or truth table

True or True = True
True or False = True
False or True = True
False or False = False


# not turth table

not True = False
not False = True

In [10]:
print(True and False)

False

In [11]:
print(not True)

False

In [13]:
print((10<20) and (10==20))

False

In [12]:
# if A & B are two values
#  A and B - result will be A if A is False else B
#  A or B - result will be A id A is True else B

False

In [15]:
print(10 and 20) # A = 10  and B = 20
print(0 and 0.0) # A = 0  and B = 0.0

20
0

In [16]:
print(10 or 20) # A = 10  or B = 20
print(0 or 0.0) # A = 0  or B = 0.0

10
0.0

In [ ]:
int - 0 is False and rest is True
float - 0.0 is false and rest is True
string - '' is a false and rest is True
complex - 0+0j is false and rest is true

# 5 Bitwise op - & , | , ^ , ~ ,  << , >>


- works on bit
- works only on integer value

In [ ]:
# bitwise AND

step 1 - convert to binart form

x = 10 ---> binary ----> 1010
y = 4 -----> binary ---> 100

# step 2 - get the and op on each bit

10 -->   1    0     1    0
4  -->   0    1     0    0
and      0    0     0    0

# step 3 - convet binary ans to int  print(0b0000)

In [21]:


# step1

x = 7  --> 111
y = 11 --> 1011

step 2

binary - 0011

step3

3

0

In [23]:
print(7 & 11)

3

In [ ]:
# bitwise or--> |

step 1 - convert to binart form

x = 10 ---> binary ----> 1010
y = 4 -----> binary ---> 100

# step 2 - get the and op on each bit

10 -->   1    0     1    0
4  -->   0    1     0    0
or       1    1     1    0

# step 3 - convet binary ans to int  print(0b1110)

In [24]:
print(0b1110)

14

In [25]:
print(10 | 4)

14

In [ ]:
bitwise xor - ^

step 1 - convert to binart form

x = 10 ---> binary ----> 1010
y = 4 -----> binary ---> 100

# step 2 - get the and op on each bit

10 -->   1    0     1    0
4  -->   0    1     0    0
xor      1    1     1    0

# step 3 - convet binary ans to int  print(0b1110)

In [26]:
print(10 ^ 4)

14

In [30]:
# bitwise right shift >> -- A>>n  --> A // (2**n)

x = 10
print(x>>2) #--> 10 // (2**2)

2

In [31]:
# bitwise left shift << -- A<<n  --> A * (2**n)

x = 10
print(x<<2) #--> 10 // (2**2)

40

In [34]:
# bitwise not

x = 10
print(~x)

x = 99
print(~x)

x = -99
print(~x)


# add 1 to x --> y
# reverse the sign y

-11
-100
98

In [ ]:
# Assignment operators / compound operators

In [36]:
# store a value 5 to x
# add 10 to 5 and re assign to x

x = 5
x = x + 10
print(x)

15

In [37]:
x = 5
x += 10  #---> x += 10 ---> x = x + 10
print(x)

15

In [38]:
x = 5
x -= 10  #---> x -= 10 ---> x = x -10
print(x)

-5

In [39]:
x = 5
x //= 2  --> x = x // 2
print(x)

2

In [ ]:
x *= 5  --> x = x*5

x /= 5 --> x = x/5

x %=5  --> x = x%5

x **= 5 --> x = x**5

x &= 5  --> x = x&5

x |= 5


x^=5

x >>=5

x <<= 5

In [ ]:
7. identity operators

- operator - is and is not
- thet are used to check if two values hava the same memory location or not
- retruns the bool

In [41]:
a = 10
print(a)
print(id(a))

10
94013128351328

In [42]:
a = 20
print(id(a))

94013128351648

In [44]:
a = 11
b = 22

print(id(a))
print(id(b))
print(a is b)

94013128351360
94013128351712
False

In [47]:
a = 100
b = 100

print(id(a))
print(id(b))
print(a is b)

94013128354208
94013128354208
True

In [ ]:
a = 1000
b = 1000

print(a is b)

In [ ]:
Object reusabilty concept

1. int = -5 to 256
2. None
3. True and false
4. String = A-Z,a-z,0-9,_

In [48]:
a = 'afsaan'
b = 'afsaan'

print(a is b)

True

In [49]:
a = 'afsa10'
b = 'afsa10'

print(a is b)

True

In [50]:
a = 'afsa@2'
b = 'afsa@2'

print(a is b)

False

In [51]:
a = 100.0
b = 100.0

print(a is b)

False

In [ ]:
8. Memebrship operator

in or not in
- not applicable for integers
- only applicable for seq data type

In [ ]:
9. ternary op

syntax

- exp1 if cond else exp2 --> result will be exp1 if cond is true else result will be exp2

In [53]:
print('afsaan' if 100<20 else 'khan')

khan

In [67]:
# BInary representataion - 0,1 / 0b / bin()

num = 789
bin_num= bin(num)
print(bin_num)
print(0b1100010101)


# octal repesentation - 0-7 / 0o / oct()
print('--------------------')
num = 789
oct_num= oct(num)
print(oct_num)
print(0o1425)


# hexadecimal rep - 0-9 and a/A - f/F / 0x / hex()

print('--------------------')
num = 1456789
hex_num= hex(num)
print(hex_num)
print(0x163a95)


- only integer can be represented in biniary , octal , hexa

0b1100010101
789
--------------------
0o1425
789
--------------------
0x163a95
1456789

In [62]:
a  = bin_num
type(a)

str

In [61]:
a = 0b1010101

0b1100010101

In [ ]:
Arithmatic
comparison op
equality op
logical op
bitwise op
indentiity
membership
bin.oct.hex

In [ ]:
# operator precedence

() - paranthesis
** - exponent
+x , -x . ~x , uniary plus , unary minus , bitiwse not
* , / , // , %
+ , -
<< , >>
&
^
|
== , != , > , >= , < , <=
not
and
or

In [68]:
x = 10
-x

-10

In [69]:
+10

10

In [70]:
~10

-11

# Type casting

converting from 1 data to another is called as type casting

In [ ]:
int()
float()
str()
bool()

In [75]:
a = 10
print(a)
print(type(a))

# 1 way

a = float(10)
print(a)
print(type(a))
print(a)

# 2nd way

a = 10
print(float(a))
print(type(float(a)))
print(a)

10
<class 'int'>
10.0
<class 'float'>
10.0
10.0
<class 'float'>
10

In [77]:
a = 10.0
print(str(a))
print(type(str(a)))

10.0
<class 'str'>

In [78]:
b = '11.2'
print(float(b))

11.2

In [80]:
b = '11.2'
c = float(b)
print(int(c))

11

# input and outfuntion in python

# input function 
taking the input from the user

In [84]:
a = int(input('Enter the number'))
b = int(input('enter the second number'))
print(type(a))
print(type(b))

# input fucntion will always retuirn a string data type

print(a+b)

# so there a 2 way to do this

1. type casting
2. eval function

Enter the number10
enter the second number20
<class 'int'>
<class 'int'>
30

In [85]:
a = int(input('Enter the number'))
b = int(input('enter the second number'))
print(type(a))
print(type(b))

# input fucntion will always retuirn a string data type

print(a+b)

Enter the number11.2

ValueError: invalid literal for int() with base 10: '11.2'

In [90]:
a = eval(input('Enter the number'))
b = eval(input('enter the second number'))
print(type(a))
print(type(b))

# input fucntion will always retuirn a string data type

print(a+b)

Enter the number'veena'
enter the second number'zyx'
<class 'str'>
<class 'str'>
veenazyx

In [ ]:
# linkedin
# every will have an assignment