In [ ]:
# output statments

In [2]:
a = 10
b = 20
c = 30

print(a, end = '')
print(b, end = '')
print(c, end = '')

102030

In [5]:
a = 10
b = 20
c = 30

print(a,b,c , sep='-->')

10-->20-->30

In [7]:
a = 10
b = 20
c = 30
d = 40

print(a, end = '-->')
print(b,d, sep = '++' , end = '\n')
print(c,a,d, sep = '\n' ,end = '==')
print('afsaan' , end = '')

10-->20++40
30
10
40==afsaan

In [ ]:
10-->20++40
30
10
40==afsaan

In [ ]:
# String format

In [9]:
# Question 1
# Take two input from the users i.e firstname and the last name and print as a full name

first_name = input('enter the first name')
second_name = input('enter the second name')

print(first_name , second_name)

enter the first nameAfsan
enter the second namekhan'
Afsan khan'

In [10]:
# Take two input from the users i.e firstname and the last name and print as a 'my first name is afsan and last
# name is khan'

first_name = input('enter the first name')
second_name = input('enter the second name')

print("My First name is", first_name, "and Last name is", second_name, sep = ' ')

enter the first nameafsan
enter the second namekhan
My First name is afsan and Last name is khan

In [13]:
first_name = input('enter the first name')
second_name = input('enter the second name')

print(f"My {first_name} First name is {first_name} and Last name is {second_name}")

enter the first nameafsan
enter the second namekhan
My First name is afsan and Last name is khan

In [ ]:
first_name = input('enter the first name')
second_name = input('enter the second name')

print("My First name is {} and Last name is {}".format(first_name , second_name))

# Floating Data type

- any value which has a decimal point eg 100.99 , 2.4 , 5.6 etc

In [ ]:
# Operation possible with float

- arthmatic op
- comparison op
- eqality
- logical op
- identity op
- assignment

#not possible 
- bitwise
- assignment  / compound ( bitwise op)

Object reusabilty is not possible

In [ ]:
a = 10
a += 1 --->  a = a+1

a &= 10 ---> a = a&10

In [ ]:
# Complex data type

any number that can be represented in the form of a+bj where a is the real and b is the imaginary

In [16]:
num = 6+7j
print(type(num))
print(num.real)
print(num.imag)

<class 'complex'>
6.0
7.0

# Complex data type

# Operation possible with float

- arthmatic op
- eqality
- logical op
- identity op
- assignment

#not possible 
- bitwise
- assignment  / compound ( bitwise op . modulo)
- comparison op
- arithmatic op ( modulo , floor)

Object reusabilty is not possible

In [23]:
(6+7j) // 2

TypeError: can't take floor of complex number.

In [ ]:
# None data type

NOne means missing value

employ_name  employ_no   employ email

xyz            None          xyz@
abc            None          None

In [ ]:
# Boolean data type

- True also means 1
- False also means 0

In [25]:
int --> 0
float --> 0.0
string --> ""
complex --> 0+0j
None ---> false
Bool ---> False

True

In [26]:
False == 0

True

In [28]:
print(True + True + True)

3

# String Data types

In [ ]:
 - anything that can be written inside a - '...' , "...." , '''....''' , """...."""

In [29]:
s1 = 'python'
print(s1 , type(s1))

s1 = "python"
print(s1 , type(s1))

s1 = '''python'''
print(s1 , type(s1))

s1 = """python"""
print(s1 , type(s1))

python <class 'str'>
python <class 'str'>
python <class 'str'>
python <class 'str'>

In [30]:
s1 = ' my 
name 
is 
afsaan'

print(s1)

SyntaxError: EOL while scanning string literal (<ipython-input-30-049bb8ba0c25>, line 1)

In [31]:
s1 =  '''my 
name 
is 
afsaan'''

print(s1)

my
name
is
afsaan

In [ ]:
s class'

In [34]:
# s1 = 'this is the python's class'
# print(s1 , type(s1))


s1 = "this is the python's class"
print(s1 , type(s1))

this is the python's class <class 'str'>

In [ ]:
s1 = "this is the python's class"
print(s1 , type(s1))

In [ ]:
# String properties

In [36]:
a = 'python'
print(id(a))
print(id(a[0]))

139915605197680
139915610422832

In [42]:
a = 'python'
b = 'cython'

print(a[1] , id(a[1]))
print(b[1] , id(b[1]))

y 139915608957808
y 139915608957808

In [43]:
a = 'tutort academy'

print(a[10])

d

In [44]:
a[-1]

'y'

In [47]:
a = 'python'
b = 'python'

print(id(a[-1]))
print(id(b[-1]))

139915610610928
139915610610928

In [48]:
# indexing - 

a = 'lionel messi'

a[-2:6:-2]

'se'