In [1]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
# startswith - return true if strings starts witht he specified prefix else false

s = 'hello world'
print(s.startswith('ll' , 2,7))


# endswith
s = 'hello world'
print(s.endswith('d'))

s = 'hello world'
print(s.endswith('r' , 2,9))

True
True
True

In [11]:
s1 = 'abc'
s2 = '123abc'
s3 = '*'
s4 = '112'

# isalnum (is alpha numeric) - return true if string is either alphabet, numeric , alphanumeric
print(s1.isalnum())
print(s2.isalnum())
print(s3.isalnum())
print(s4.isalnum())

print('------------------------------------------------------------------')
# isaplha - return True if all character are aplhabet
print(s1.isalpha())
print(s2.isalpha())
print(s3.isalpha())
print(s4.isalpha())


print('------------------------------------------------------------------')
# isnumeric - return True if all character are numbers
print(s1.isnumeric())
print(s2.isnumeric())
print(s3.isnumeric())
print(s4.isnumeric())


s1 = 'abc'
s2 = '123abc'
s3 = '*'
s4 = '112'

print('------------------------------------------------------------------')
# isidentifir - return True if it follows the rule of identifer else false
print(s1.isidentifier())
print(s2.isidentifier())
print(s3.isidentifier())
print(s4.isidentifier())

print('------------------------------------------------------------------')
# isascii - return True if all the character are in ASCII tables else false
print(s1.isascii())
print(s2.isascii())
print(s3.isascii())
print(s4.isascii())

print('flie√üen'.isascii())

True
True
False
True
------------------------------------------------------------------
True
False
False
False
------------------------------------------------------------------
False
False
False
True
------------------------------------------------------------------
True
False
False
False
------------------------------------------------------------------
True
True
True
True
False

# Escape and Specail characters

In [12]:
# \n - newline

print('hello\nworld')

hello
world

In [15]:
# \  - back slash 

print('line1\
line2\
line3')

line1line2line3

In [16]:
s = 'this is python\'s class'
print(s)

this is python's class

In [17]:
s = "this is \"pythons\" class"
print(s)

this is "pythons" class

In [19]:
# \b - backspace

print('abc\bd')

print('ab' + '\b' + 'c')

abcd
abc

In [21]:
# \r - carriage return   left\rright

text = 'hello\rafsaan'
text = 'hello\rwor'


print(text)

wor

In [24]:
# \t - tab

text = 'hello\tworld'
print(text)

hello	world

In [26]:
# r - RAW string

a = r'python\nclass'
print(a)

a = 'python\\nclass'
print(a)

python\nclass
python\nclass

In [28]:
s1 = 'abc'
s2 = 'ABC'
s3 = '*'
s4 = '112'

# isupper
print(s1.isupper())
print(s2.isupper())
print(s3.isupper())
print(s4.isupper())

print('-'*30)
# islower
print(s1.islower())
print(s2.islower())
print(s3.islower())
print(s4.islower())

print('-'*30)

# istitle
print(s1.istitle())
print(s2.istitle())
print(s3.istitle())
print(s4.istitle())

False
True
False
False
------------------------------
True
False
False
False
------------------------------
False
False
False
False

In [35]:
# stri , rstrip , lstrip
# removs the specified character from the ends

# strip - removes the sepecified char from both the ends (defautl is space)
a = '  python  '
print(a , len(a))
print(a.strip() , len(a.strip()))

a = 'python'
print(a , len(a))
print(a.strip() , len(a.strip()))

a = 'python    '
print(a , len(a))
print(a.strip() , len(a.strip()))


print('-'*30)
# rstrip - removes the sepecified char from right ends (defautl is space)
a = '  python  '
print(a , len(a))
print(a.strip() , len(a.rstrip()))


# lstrip - removes the sepecified char from right ends (defautl is space)
a = '      python  '
print(a , len(a))
print(a.strip() , len(a.lstrip()))

  python   10
python 6
python 6
python 6
python     10
python 6
------------------------------
  python   10
python 8
      python   14
python 8

In [43]:
a = '**python**'
a.strip('*')

# a = '**python**'
# a.rstrip('*')

# a = '**python**'
# a.lstrip('*')

'python'

In [46]:
username = input('please eneter your username')
password = input('please enter your password')

if username.strip() == 'khanafsaan11@gmail.com' and password.strip() == 'afsan':
    print('logged in')
else:
    print('invalid credentials')

please eneter your usernamekhanafsaan11@gmail.com
please enter your passwordafsan
logged in

In [49]:
# count

my_str = "afsaan loves to play football"
my_str.count('to')

1

In [53]:
# find , rfind , index , rindex - this methods tells the starting index of the specified char


# find
my_str = "Afsaan loves to play football"
print(my_str.find('a'))

# rfind
my_str = "Afsaan loves to play football"
print(my_str.rfind('a'))


# index
my_str = "Afsaan loves to play football"
print(my_str.index('a'))

# rindex
my_str = "Afsaan loves to play football"
print(my_str.rindex('a'))

3
26
3
26

In [54]:
# Note - the only difference between find and index is if the chara is not present 
# find gives -1 and index rasie and error

# find
my_str = "Afsaan loves to play football"
print(my_str.find('z'))


# index
my_str = "Afsaan loves to play football"
print(my_str.index('z'))

-1

ValueError: substring not found

In [67]:
# ljust(left adjustment)  rjust(right adjustment)

text = 'afsan'
print('world', text.ljust(20), 'helloword')


text = 'afsan'
print('world' , text.rjust(20), 'helloword')

world afsan                helloword
world                afsan helloword

In [59]:
# replace

my_str = "Afsaan loves to play football"
print(my_str.replace('to' , 'is'))

Afsaan loves is play football

In [62]:
# split - convert the string datatype to list data type

my_str = "Afsaan loves to play football"
my_str.split() # deafult is space

my_str = "Afsaan loves to play football"
my_str.split('a') # deafult is space

['Afs', '', 'n loves to pl', 'y footb', 'll']

In [65]:
# join - converts the list bac to string

list_1 = ['this' , 'is' , 'python']

"-->".join(list_1)

'this-->is-->python'

In [66]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# list

anything that can be wriiten inside a sqaure brackets and elements are sep by commas

In [68]:
a  = [1, 2, 3, 4, 5, 6]

print(a , type(a))

[1, 2, 3, 4, 5, 6] <class 'list'>

# Creation of a list

In [69]:
# 1. you already know the element

list1 = ['apple' , 'mango' , 'orange']
print(list1)

['apple', 'mango', 'orange']

In [71]:
# 2 . taking the user input

list1 = eval(input('enetr the list'))
print(list1 , type(list1))

enetr the list[1,2,3,4,5]
[1, 2, 3, 4, 5] <class 'list'>

In [74]:
# 3. type casting - you can only convert seq data type to list data type

# a = '2'
# list(a)

a = 'abc'
list(a)

a = (1,2,3)
list(a)

[1, 2, 3]

In [75]:
# 4. using split 

a = 'python class'
a.split()

['python', 'class']

In [ ]:
# Properties of list

1. seq data type
2. suports +ve and -ve indexing
3. mutable
4. allows duplicate element
5. it can store diff data types
6. basic op - indexing , slicing , concatination , repetion , identity, memebrship

In [76]:
# 1. seq data type
# 2. suports +ve and -ve indexing
# indexing , slicing

a = [1,2,3,4,5,6,7,8]
a[-1]
a[3]

8

In [77]:
a[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [78]:
a[1:5:-1]

[]

In [79]:
a[-7:4:-1]

[]

In [80]:
# 4. allows duplicate element

a = [1,1,1,1,1,1,1,1,1,1,1]
print(a)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [81]:
# 5. it can store diff data types

a = ['afsaan' , True , 6+7j , None , 1 , 1.2]
print(a)

['afsaan', True, (6+7j), None, 1, 1.2]

In [82]:
# concatination 

"""
op - +
operands - both the operand should be a list
"""
a = [1,2,3,4]
b = [4,5,6,7]

print(a+b)

[1, 2, 3, 4, 4, 5, 6, 7]

In [83]:
# , repetion 

"""
op - *
operands - one should be list and other should be int
"""
a = [1,2,3,4]
b = 3

print(a*b)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [86]:
# , identity

"""
- check if the address of the two object is same or not
op - is and is not
return - Boolean value

"""

list1 = [1,2,3]
list2 = [1,2,3]


print(id(list1))
print(id(list2))

print(list1 is list2)

94366875426112
94366875426112
False

In [88]:
# , memebrship

"""
check if the sub seq is present in the main seq or not
op - in and not in
return - boolean

"""

a = ['afsaan' , 'khan' , 100 , 11.2]

print('af' in a)

a = ['afsaan' , 'khan' , 100 , 11.2]

print('khan' not in a)

False
False

In [90]:
# mutable

a = [1,2,3,4,5]
print(a)
a[0] = 100
print(a)

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

In [91]:
a

[100, 2, 3, 4, 5]

In [92]:
# Nesting list

"""
list inside a list
"""

a = [[1,2,3,4] , 'afsaan' , [100,200 , [6,7]] , [4,6]]
print(a)

[[1, 2, 3, 4], 'afsaan', [100, 200, [6, 7]], [4, 6]]

In [94]:
a[-1][-1]

6

In [95]:
a[0][::-1]

[4, 3, 2, 1]

In [ ]:
a[1][-1]

In [97]:
a = [[1,2,4] , [5,6,7] , [8,[9,10,['a','b']]]]
print(a)

[[1, 2, 4], [5, 6, 7], [8, [9, 10, ['a', 'b']]]]

In [98]:
a[-1][-1][-1][-1]

'b'

In [99]:
a[2][1][2][1]

'b'

In [100]:
a[3][3][3]

IndexError: list index out of range

In [101]:
a[2][2][1]

IndexError: list index out of range

In [106]:
a = [[1,2,4] , [5,6,7] , [8,[9,10,['a','b']]]]
print(a)
a[2][1][2][1]

[[1, 2, 4], [5, 6, 7], [8, [9, 10, ['a', 'b']]]]

'b'

In [107]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
"""
'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

"""

In [ ]:
# Methods to insert elemet in the list

1. append
2. extent
3. insert

In [114]:
# 1. append

"""
appends an element at the end of the list
you can enter one element at a time

"""

a = [1,2,3,4]
print(a)
print(id(a))
a.append([1,2,3,4])
print(a)
print(id(a))

[1, 2, 3, 4]
140297309353152
[1, 2, 3, 4, [1, 2, 3, 4]]
140297309353152

In [ ]:
# extend

it is similar to concatination in list but concatination returns a new list and extend modifies the list

In [115]:
a = [1,2,3,4]
b = [100,200,300]

b.extend(a)
print(a)

[1, 2, 3, 4, 100, 200, 300]

In [119]:
a = [1,2,3,4]
b = [100,200,300]
a + b
b

[100, 200, 300]

In [121]:
# insert

"""
insert method inserts the value at a particular index
- only one element can be inserted at a time

syntax = list.insert(index , element)
"""

list1 = [1,2,3,4]
list1.insert(2 , 'afsaan')
list1

[1, 2, 'afsaan', 3, 4]

In [ ]:
# removing the elements from the list

1. pop
2. remove

In [124]:
# pop

"""
removes the element by index
pop() be default removes the last element
it is the only method that returns the value that is popped
synatx = list.pop(index)

"""

list1 = [1,2,3,4,5]
list1.pop()
list1

list1 = [1,2,3,4,5]
list1.pop(2)
list1

[1, 2, 4, 5]

In [128]:
# 2. remove

"""
removes the specified value from the list
removes the first occurance if the value if repeated
"""

list1 = [1,1,1,10,10,20,20,20,20]
list1.remove(10)
list1.remove(100)
list1

ValueError: list.remove(x): x not in list