In [ ]:
"""'copy',
"""

In [1]:
# count

"""
count takes in an element and retursn the number of times that eleme has ouccured
"""

list_1 = [1,2,3,4,5,5,5,6,6,6,6,7,7,7]
list_1.count(6)

4

In [3]:
# index

"""
returns the indx of the element. if element is not present in the list then it will raise an error
if multiple element then it will retur the index of the first occ of the element
"""

list_1 = [1,2,3,4,5,5,5,6,6,6,6,7,7,7]
list_1.index(5)

list_1.index(100)

ValueError: 100 is not in list

In [6]:
# reverse

'''it will reverse the list'''

a = [1,2,3,4]
a.reverse()
a

[4, 3, 2, 1]

In [14]:
# sort

"""sort will sort you list
NOte:- sort will only work if list contains the homogenous data
"""

list_1 = [10,1,45,6,2,3,11]
list_1.sort()
list_1

# list_1 = [10,1,45,6,2,3,'11']
# list_1.sort()
# list_1

list_1 = [10,1,45,6,2,3,11]
list_1.sort(reverse = True)
list_1

[45, 11, 10, 6, 3, 2, 1]

In [15]:
# clear

"""it clears the list"""

a = [1,2,3,4]
a.clear()
a

[]

In [ ]:
# Shallow and deep copy

In [16]:
a = [1,2,3,4,5]
b = [1,2,3,4,5]

print(id(a))
print(id(b))

140214341567552
140214341557760

In [17]:
# now lets try this

a = [1,2,3,4,5]
b = a

print(id(a))
print(id(b))

140214341614464
140214341614464

In [18]:
a = [1,2,3,4,5]
b = a

print(a , id(a))
print(b, id(b))

b[0] = 100

print(a , id(a))
print(b, id(b))

[1, 2, 3, 4, 5] 140214341647104
[1, 2, 3, 4, 5] 140214341647104
[100, 2, 3, 4, 5] 140214341647104
[100, 2, 3, 4, 5] 140214341647104

In [ ]:
# shallow copy

In [19]:
a = [1,2,3,4,5]
b = a.copy()

print(a , id(a))
print(b, id(b))

b[0] = 100

print(a , id(a))
print(b, id(b))

[1, 2, 3, 4, 5] 140214341653056
[1, 2, 3, 4, 5] 140214341652608
[1, 2, 3, 4, 5] 140214341653056
[100, 2, 3, 4, 5] 140214341652608

In [ ]:
# nested list

In [21]:
a = [1,2,3,4,5,[1,2,3]]
b = a.copy()

print(a , id(a))
print(b, id(b))

b[-1][0] = 100

print(a , id(a))
print(b, id(b))

[1, 2, 3, 4, 5, [1, 2, 3]] 140214341693888
[1, 2, 3, 4, 5, [1, 2, 3]] 140214341694400
[1, 2, 3, 4, 5, [100, 2, 3]] 140214341693888
[1, 2, 3, 4, 5, [100, 2, 3]] 140214341694400

In [24]:
a = [1,2,3,4,5,[1,2,3]]
b = a.copy()

print(a , id(a))
print(b, id(b))

[1, 2, 3, 4, 5, [1, 2, 3]] 140214341663232
[1, 2, 3, 4, 5, [1, 2, 3]] 140214341502464

In [27]:
# deep copy
from copy import deepcopy

a = [1,2,3,4,5,[1,2,3]]
b = deepcopy(a)

print(a , id(a[0]))
print(b, id(b[0]))

b[-1][0] = 100

print(a , id(a))
print(b, id(b))

[1, 2, 3, 4, 5, [1, 2, 3]] 94025852861760
[1, 2, 3, 4, 5, [1, 2, 3]] 94025852861760
[1, 2, 3, 4, 5, [1, 2, 3]] 140214338626560
[1, 2, 3, 4, 5, [100, 2, 3]] 140214337459072

# for loop

In [ ]:
syntax of for loop

"""
for var in iterable:
    statment1
    statment2

"""

In [31]:
# how to find out whihc data types are iterable

int
float
bool
complex
str
list
tuple

# proof- len function should work on that data type
a = 'abc'
len(a)

# proof2 - dir(datatype) should have a __iter__
dir(1)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [33]:
list_1 = [1,2,3,4,5,6]

for i in list_1:
    print('hello world')

hello world
hello world
hello world
hello world
hello world
hello world

In [35]:
list_1 = [1,2,3,4,5,6]

for i in list_1:
    print('hello world')
    print(i)

hello world
1
hello world
2
hello world
3
hello world
4
hello world
5
hello world
6

In [ ]:
a = ['afsan' , 'veena' , 'bhargav' , 'gurpreet' , 'aitesham', 'sachin']
b_reverse = ['nasfa' , 'aneeva' , ]

In [36]:
a = ['afsan' , 'veena' , 'bhargav' , 'gurpreet' , 'aitesham', 'sachin']
b = []

for i in a:
    b.append(i[::-1])

print(b)

['nasfa', 'aneev', 'vagrahb', 'teerprug', 'mahsetia', 'nihcas']

In [37]:
# list comprehension

syntax = [expression for item in list if condition]

b = [i[::-1] for i in a]
b

['nasfa', 'aneev', 'vagrahb', 'teerprug', 'mahsetia', 'nihcas']

In [39]:
a = ['afsaan@gmail.com' , 'akash@email.com' , 'gulab@gmail.com' , 'krishna@yahoo.in' , 'pranali@xyz.in']
b = []

for name in a:
    b.append(name.split('@')[0])
print(b)

['afsaan', 'akash', 'gulab', 'krishna', 'pranali']

In [40]:
b = [name.split('@')[0] for name in a]
b

['afsaan', 'akash', 'gulab', 'krishna', 'pranali']

In [ ]:
iteration 1 i = 1
hello world

iteration 2 i = 2
helloworld

iter 3 i =3
hellowird

iter 6 i =6
helloword

iter 7 i

In [45]:
a = ['afsaan@gmail.com' , 'akash@email.com' , 'gulab@gmail.com' , 'krishna@yahoo.in' , 'pranali@xyz.in'] 
b = [] 
for i in a: 
    b.append(i[:i.index('@')]) 
print(b)

['afsaan', 'akash', 'gulab', 'krishna', 'pranali']

In [44]:
a = 'akash@email.com'

a[:a.index('@')]

'akash'

In [ ]:
# Tuple

- tuple is simlar to list

all the element should be inside a round bracket(optional) and sep by commas

In [46]:
a = (1,2,3,4,5,6)
print(a , type(a))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [ ]:
# Creation of tuple

In [47]:
# 1. you already kn ow the element

fruits = ('apple' , 'banana' , 'grapes')
print(fruits)

('apple', 'banana', 'grapes')

In [48]:
# 2. taking user input

data = eval(input('please enter the tuple'))
print(data , type(data))

please enter the tuple(1,2,3,4,5,)
(1, 2, 3, 4, 5) <class 'tuple'>

In [50]:
# 3 . typcasting

a = 'afsaan'
tuple(a)

('a', 'f', 's', 'a', 'a', 'n')

In [ ]:
# Properties of tuple

1. immutable
2. Seq data type
3. indexng ( +ve and -ve)
4. allows duplicate ele
5. can store diff data types
6. basic op - slicing , indexing , concatination , repetiton , idenentiy ,membership

In [53]:
# 2. Seq data type
# 3. indexng ( +ve and -ve)

a = (1,2,3,4,5)
a[len(a)-1]
a[-1]

5

In [54]:
a[::-1]

(5, 4, 3, 2, 1)

In [55]:
a[::2]

(1, 3, 5)

In [56]:
# allows duplicate ele

a = (1,2,3,3,3,3,4,4,4,5,5,5)
print(a)

(1, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5)

In [58]:
# 5. can store diff data types

a = (1,'afsan' , 1.2 , None , True)
print(a)

(1, 'afsan', 1.2, None, True)

In [59]:
# concatination

"""
op - +
operand - both should be the tuples

"""

a = (1,2,3)
b = (100,200)

a+b

(1, 2, 3, 100, 200)

In [60]:
# repetition

"""
op - *
operand - ont should be tuple and other should be the int

"""

a = (1,2,3)
b = 4

a*b

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [61]:
# identity

"""
- to check if memory addres of two varibales are same or not
op - is and is not
return - bool

"""

a = (1,2,3)
b = (1,2,3)

print(a is not b)

True

In [62]:
# membership

"""
- to check id sub seq is present in the main seq or not
op -in , not in
return - bool

"""

a = (1,2,3)
b = 2

print(b not in a)

False

In [63]:
# immutable

a = (1,2,3,4)
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [64]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

Methods in tuple

1. count
2. index

In [65]:
# count

a = (1,2,50,60,60,60,2,3,2,3)
a.count(60)

3

In [66]:
# index

a = (1,2,50,60,60,60,2,3,2,3)
a.index(60)

3

# Tuple packing and unpacking

### Tuple packing

assiging multiple values to a same vairbale

In [68]:
a = 10,20,30,40,50,True
print(a , type(a))

(10, 20, 30, 40, 50, True) <class 'tuple'>

In [ ]:
a = 10,20,30,40,50,True

a = (10,20,30,40,50,True)

In [ ]:
a = (10,20,30)

a = 10,20,30

In [69]:
a = (20)
print(type(a))

<class 'int'>

In [72]:
a = (20,)
print(a)
a = 20,
print(type(a))

(20,)
<class 'tuple'>

### tuple unpacking

fetching indiviual values from tuple

In [74]:
a,b,c = 10,20,30,40

print(a)
print(b)
print(c)

ValueError: too many values to unpack (expected 3)

In [ ]:
# rule of tuple unpacking

number of variable on lhs == nbumber of ele in the rhs

In [75]:
# list unpacking

a,b,c,d = [1,2,3,4]

In [76]:
a

1

In [77]:
b

2

In [78]:
c

3

In [79]:
d

4

In [81]:
!python -V

Python 3.8.5

# DICTIONARY

In [83]:
# stroing the employye in list

list_data = ['afsan' , 24 , 240000]

# name of employee
print(list_data[0])

# age of employee
print(list_data[1])

# salary of employye
list_data[2]

afsan
24

240000

In [ ]:
# stroing the employye in list

list_data = ['afsan' , 24 , 24]

# name of employee
print(list_data[0])

# age of employee
print(list_data[1])

# salary of employye
list_data[2]

In [ ]:
list_data = ['afsan' , 240000,  24]

# name of employee
print(list_data[0])

# age of employee
print(list_data[1])

# salary of employye
list_data[2]

# Dictionary - it is used to represnet structure data

In [88]:
# list_data = ['afsan' , 240000,  24]

dic = {'name':'Afsan', 'age':24,'salary':24 }

print(dic['name'])
print(dic['salary'])
print(dic['age'])

Afsan
24
24

In [ ]:
# Properties of dic

1. it is a collection of key value pair
2. a key,value pair is called as item
3. items are sep by commas
4. key and value are sep by colon (:)
5. key cannot be duplicated whereas value can be duplicated  -imp
6. key is always immutable - imp
7. value can by any datatype
8. stored in the curly bracket
9. dic is not a seq data type , indexing , slicing , concationatin , repeition
10. membership op is only applicable on keys
11. identity op
12. dic is mutable

In [89]:
# 1. it is a collection of key value pair
# 2. a key,value pair is called as item
# 3. items are sep by commas
# 4. key and value are sep by colon (:)
# 8. stored in the curly bracket

dic = {'name':'Afsan', 'age':24,'salary':24 }
print(dic , type(dic))

{'name': 'Afsan', 'age': 24, 'salary': 24} <class 'dict'>

In [91]:
# 5. key cannot be duplicated whereas value can be duplicated  -imp

# part 1 : values are duplicated

dic = {'name':'Afsan', 'age':24, 'salary':24 }
print(dic , type(dic))

# part2 : keys are duplicated

dic = {'name':'Afsan', 'age':24, 'salary':24 , 'age':32 }
print(dic , type(dic))

{'name': 'Afsan', 'age': 24, 'salary': 24} <class 'dict'>
{'name': 'Afsan', 'age': 32, 'salary': 24} <class 'dict'>

In [94]:
# 6. key is always immutable - imp

dic = {'name':'Afsan', (1,2,3):24, 4:24 }
print(dic , type(dic))


dic = {'name':'Afsan', (1,2,3):24, [4,5]:24 }
print(dic , type(dic))

{'name': 'Afsan', (1, 2, 3): 24, 4: 24} <class 'dict'>

TypeError: unhashable type: 'list'

In [95]:
# 7. value can by any datatype


dic = {'name':'Afsan', (1,2,3):24, 4:[1,2,3] }
print(dic , type(dic))

{'name': 'Afsan', (1, 2, 3): 24, 4: [1, 2, 3]} <class 'dict'>

In [100]:
# dic is not a seq data type , indexing , slicing , concationatin , repeition

dic = {'name':'Afsan', (1,2,3):24, 4:[1,2,3] }
dic_2 = {'data':[1,2,3]}
print(dic , type(dic))

# dic[::]

# dic + dic_2

dic * 2

{'name': 'Afsan', (1, 2, 3): 24, 4: [1, 2, 3]} <class 'dict'>

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [102]:
# 10. membership op is only applicable on keys

dic = {'name':'Afsan', 'age':24, 'salary':24 }
print(dic , type(dic))
'Afsan' in dic

{'name': 'Afsan', 'age': 24, 'salary': 24} <class 'dict'>

False

In [108]:
# 11 . identity op

dic = {'name':'Afsan', 'age':24, 'salary':24 }
dic = {'name':'Afsan', 'age':24, 'salary':24 }

print(id(dic))
print(id(dic))


print(dic is dic_1)

140214340020288
140214340019776
False

In [106]:
#12. mutable 
dic = {'name':'Afsan', 'age':24, 'salary':24 }
dic['name'] = 'Rahul'

print(dic)

{'name': 'Rahul', 'age': 24, 'salary': 24}

In [107]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# how to create a dic

In [110]:
# store 2 employee data in a dic

# dic = {“name”:[“emp1”, ”emp2”], “age”: [12, 43]} 

dic = {'emp_1' : {'name':'afsaan' , 'age':24}, 'emp_2' : {'name':'rahul' , 'age':23}}

23

In [111]:
# 2 taking user input

data = eval(input('enter the dic'))
print(data)

enter the dic{1:2 , 2:4}
{1: 2, 2: 4}

In [115]:
# 3 using dic function

"""
dic function takes a seq of inner seq where inner seq will have pair of values and out of the pair the first
value beacomes a key and the second beacomes the value
"""

a = [((1,2),100), ((1,),200), (3,300) ,((1,2,3,4),400)]
dict(a)

{(1, 2): 100, (1,): 200, 3: 300, (1, 2, 3, 4): 400}

In [ ]:
#4 zip fucntion

synatx = zip(iter1, iter2)

In [119]:
result = zip(['emp1' , 'emp2' , 'emp3'] , ('name', 'age'))
print(result)

<zip object at 0x7f8631ed7080>

In [120]:
dict(result)

{'emp1': 'name', 'emp2': 'age'}