In [ ]:
- key should be unique
- key sre immutsble
- values are mutable
dic is not seq dta type - indexing, slicing ,concatintion, repetition
- membership op applies to only keys
- identity op id possible
- dic is mutable

In [ ]:
# how to create a dic

dict([1,2,3])

In [1]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# methos to add or acess the ele from the dic

1. get
2. setdeafult
3. update

In [6]:
# 1. get - if the key is present it returns the value of the key, else default

employee_data = {'emp1':{'name':'afsan' , 'age':24},
                 'emp2':{'name':'rahul' , 'age':26}}



# 1) if key is present
employee_data.get('emp1')

# 2) if key is not present
print(employee_data.get('emp3'))


# we can also customised our own message when key is not present
print(employee_data.get('emp3', 'key is not present'))

None

TypeError: get() takes no keyword arguments

In [15]:
# 2 setdeafult - 
# insert the key with the value of the default if key is not present , else return thr valur of the key

employee_data = {'emp1':{'name':'afsan' , 'age':24},
                 'emp2':{'name':'rahul' , 'age':26}}



# 1) if key is present
employee_data.setdefault('emp1')

# # 2) if key is not present
print(employee_data.setdefault('emp3'))


# # we can also customised our own message when key is not present
print(employee_data.setdefault('emp4', 'new key'))

None
new key

In [16]:
employee_data

{'emp1': {'name': 'afsan', 'age': 24},
 'emp2': {'name': 'rahul', 'age': 26},
 'emp3': None,
 'emp4': 'new key'}

In [17]:
# 3. update - it is similar to extend in the list

employee_data = {'emp1':{'name':'afsan' , 'age':24},
                 'emp2':{'name':'rahul' , 'age':26}}

employee_data_2 = {'emp3':{'name':'afsan' , 'age':24},
                 'emp4':{'name':'rahul' , 'age':26}}

employee_data.update(employee_data_2)

In [18]:
employee_data

{'emp1': {'name': 'afsan', 'age': 24},
 'emp2': {'name': 'rahul', 'age': 26},
 'emp3': {'name': 'afsan', 'age': 24},
 'emp4': {'name': 'rahul', 'age': 26}}

methods to delete the items from the dic

1. pop
2. popitem

In [24]:
# 1. pop 
"""
removes the specified key and returns the corresponding values, if key isd not present , it returns deafult
if given otherwise it raises and error

"""

employee_data = {'emp1':{'name':'afsan' , 'age':24},
                 'emp2':{'name':'rahul' , 'age':26}}


# 1. key is der
employee_data.pop('emp2')

# 2. if key is not preset
# employee_data.pop('emp2')
employee_data.pop('emp2' , 'key is not presrnt')

'key is not presrnt'

In [21]:
employee_data

{'emp1': {'name': 'afsan', 'age': 24}}

In [25]:
# 2. popitem

'''removes and return tuple of key value pair from the last'''

employee_data = {'emp1':{'name':'afsan' , 'age':24},
                 'emp2':{'name':'rahul' , 'age':26}}

employee_data.popitem()

('emp2', {'name': 'rahul', 'age': 26})

In [26]:
employee_data = {'emp1':{'name':'afsan' , 'age':24},
                 'emp2':{'name':'rahul' , 'age':26}}

employee_data.values()

dict_values([{'name': 'afsan', 'age': 24}, {'name': 'rahul', 'age': 26}])

In [27]:
employee_data.items()

dict_items([('emp1', {'name': 'afsan', 'age': 24}), ('emp2', {'name': 'rahul', 'age': 26})])

In [28]:
employee_data.keys()

dict_keys(['emp1', 'emp2'])

In [30]:
# from keys

'''- create a new dic with the keys from the iterables and values set to default'''

dict.fromkeys(['emp1', 'emp2'], 'hello')

{'emp1': 'hello', 'emp2': 'hello'}

In [33]:
print(employee_data.clear())

None

In [32]:
employee_data

{}

In [34]:
# dict comp

{i:i*2 for i in range(10)}

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [36]:
# range data type

"""
widely used in for loop

synatx range(start,stop,step)

start - incluisve
stop - exclusive
step - 

start value deafult will be 0
stop can be left empty
step  default is 1

"""

list(range(1,6,2))

[1, 3, 5]

In [37]:
list(range(1,6,1))

[1, 2, 3, 4, 5]

In [38]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [39]:
# set data type

"""
- colection of values but it is not a seq
- indexing n slicing is not possible
- collecion of uniqye value
- mutable
- cannot conatine a mutable object
"""

a = {1,2,3,4,5,6}
a[0]

TypeError: 'set' object is not subscriptable

In [40]:
a = {1,1,1,2,2,2,3,3,3}
a

{1, 2, 3}

In [41]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [42]:
a.clear()

In [43]:
a

set()

In [48]:
z = {1,2,3,4,5,{2:3}}

TypeError: unhashable type: 'dict'

In [45]:
z

{(1, 2, 3), 1, 2, 3, 4, 5}

In [49]:
a = [1,1,2,2,3,3,1,1,2,2,3,3,4,4,5,5,6]
set(a)

{1, 2, 3, 4, 5, 6}

In [ ]:
# conditonal statments

In [ ]:
# if

# statment1
# statment2
# stat3
# if cond:
#    stat4
#    stat5
    
if cond is true ->>> 1,2,3,4,5
if cond is false ->>> 1,2,3

In [ ]:
# statment1
# statment2
# stat3
# if cond:
#    stat4
#    stat5
# stat6
# stat7

if cond is true ->>> 1,2,3,4,5
if cond is false ->>> 1,2,3

In [ ]:
# if else


statment1
statment2
stat3
if cond:
   stat4
   stat5
else:
    stat6
    stat7
stat8
stat9

if cond is true ->>> 1,2,3,4,5,8,9
if cond is false ->>> 1,2,3,6,7,8,9

In [ ]:
statment1
statment2
stat3
if cond1:
   stat4
   stat5
if cond2:
   stat6
   stat7
if cond3:
   stat8
   stat9
else:
    stat10
    stat11
stat12
stat13

if cond 1 and cond 2 is true - 1,2,3,4,5,6,7,10,11,12,13
if all are true - 1,2,3,4,5,6,7,8,9,12,13

In [ ]:
statment1
statment2
stat3
if cond1:
   stat4
   stat5
else:
    stat14
    stat15
if cond2:
   stat6
   stat7
if cond3:
   stat8
   stat9
else:
    stat10
    stat11
stat12
stat13

if cond 1 and cond 2 is true - 1,2,3,4,5,6,7,10,11,12,13
if all cond are false - 1,2,3,14,15,10,11,12,13

In [ ]:
# if elif else

statment1
statment2
stat3
if cond1:
   stat4
   stat5
elif cond2:
   stat6
   stat7
elif cond3:
   stat8
   stat9
else:
    stat10
    stat11
stat12
stat13

if cond 1 and cond 2 is true - 1,2,3,4,5,12,13

if cond 2 ann 3 are true - 1,2,3,6,7,12,13

if all are false - 1,2,3,10,11,12,13

In [ ]:
statment1
statment2
stat3
if cond1:
   stat4
   stat5
elif cond2:
   stat6
   stat7
elif cond3:
   stat8
   stat9
else:
    stat10
    stat11
stat12
stat13

In [50]:
a = 33
b = 333
if b>a:
    print('messi')
print('virat')

messi
virat

In [51]:
a  =33
b = 2
if b>a:
    print('messi')
else:
    print('ronaldo')
print('virat')

ronaldo
virat

In [53]:
a = 200
b = 200

if b <= a:
    print('afsan')
elif b == a:
    print('messsi')
elif a < b:
    print('ronaldo')
print('virat')

afsan
virat

In [54]:
a = 200
b = 100
c = 700

if a>b and c>a:
    print('hello')
else:
    print('world')

hello

In [55]:
True and True

True

In [57]:
# Nested if - if inside a if

x = 14
if x > 15:
    print('messi')
    if x > 25:
        print('ronaldo')
    else:
        print('afsan')
else:
    if x == 35:
        print('salah')
    else:
        print('depay')

depay

In [ ]:
4 question

1. take a user input from numbers 1 to 4 and give the word form of it - 5

1 - one
2 - two
3 - 3
5- sorry number not in specified range

# 2. desgin a calculator - 5 min

user = 1
user = 2
op = + , - , / , *


# 3. erite a code to find if a year is a leap year or not - research + coding

In [59]:
x = eval(input('Write an integer number within from number 1-4 ?')) 
if(x==1): print('One') 
elif(x==2): print('Two') 
elif(x==3): print('Three') 
elif(x==4): print('Four') 
else: print('Sorry, the number you entered is not within the specified range')

Write an integer number within from number 1-4 ?4
Four

In [63]:
op1 = int(input("Enter first opreand"))
op2 = int(input("Enter second opreand"))
opt1 = str(input("Enter operator")).strip()

if opt1 == "+":
    print(op1+op2)
elif opt1 == "-":
    print(op1-op2)
elif opt1 == "*":
    print(op1*op2)
elif opt1 == "/":
    print(op1/op2)

Enter first opreand10
Enter second opreand20
Enter operator+
30

In [ ]:
# loops in python

for

while

In [ ]:
for var in iterable:
    statment1

In [ ]:
to find if object is iterable or not

len()
or
dir(object) - __iter__

In [ ]:
for fixed iteration we use a for loop

In [64]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [ ]:
# while

if we do not know the iteration

syntax
1. initialization
2. condition checking
3. inc / dec

In [65]:
i = 0 # init
while i<10:  # conditon
    print(i)
    i += 1  # inc / dec

0
1
2
3
4
5
6
7
8
9

In [67]:
i = 0 # init
while i<10:  # conditon
    print(i)
    i += 1  # inc / dec

0
1
2
3
4
5
6
7
8
9

In [70]:
#  - python
    
# p
# yy
# ttt
# hhhh
# ooooo
# nnnnnn

# for
a = 'python'
print(a[0]*1)
print(a[1]*2)
print(a[2]*3)
print(a[4]*5)
print(a[5]*6)

a = 'python'
for i in range(len(a)):
    print(a[i]*(i+1))


# while
i = 0
while i<=5:
    print(a[i]*(i+1))
    i += 1

p
yy
ttt
ooooo
nnnnnn
p
yy
ttt
hhhh
ooooo
nnnnnn
p
yy
ttt
hhhh
ooooo
nnnnnn

In [73]:
# nnnnnnn
# oooooo
# hhhh
# ttt
# yy
# p

a = 'python'
print(a[5]*6)
print(a[4]*5)
print(a[3]*4)
print(a[2]*3)
print(a[1]*2)
print(a[0]*1)

for i in range(6,0,-1):
    print(a[i-1]*i)
    
i =6
while i >= 0:
    print(a[i-1]*i)
    i = i-1

nnnnnn
ooooo
hhhh
ttt
yy
p
nnnnnn
ooooo
hhhh
ttt
yy
p
nnnnnn
ooooo
hhhh
ttt
yy
p